* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.main-container {
  background-color: #ddfcfe;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-container {
  background-color: #fff;
  /* padding: 2rem; */
  width: 50px;
  flex-basis: 80%;
}

#canvasContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.nav {
  width: fit-content;
  height: 50px;
  margin: 6rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  transition: opacity 0.3s ease-in;
}

.nav:hover {
  opacity: 1;
}

.nav img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin: 0 1rem;
  transition: transform 0.3s;
}

.nav img:hover {
  transform: scale(1.1);
}

.toolbar {
  width: fit-content;
  height: 100vh;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.toolbar .colors {
  height: 100%;
}

.toolbar .tools {
  background-color: #6eecc7;
  position: absolute;
  right: 0;
  height: 100%;
  width: 40%;
  padding: 1rem;
}

.toolbar .tools .buttons {
  width: 100%;
  height: 80%;
  position: relative;
}

.toolbar .colors .pencils,
.toolbar .tools .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}

.toolbar .colors .pencils .pencil-color,
.toolbar .colors .crayons img {
  width: 8rem;
  height: 2.2rem;
  margin: 1px 0;
  cursor: pointer;
  transition: transform 0.3s;
}

.toolbar .colors .brush img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.toolbar .colors .brush img:hover {
  transform: scale(1.1);
}

.toolbar .tools .buttons img {
  width: 3rem;
  height: 3.5rem;
  cursor: pointer;
}

.toolbar .colors img:hover {
  transform: translateX(-20px);
}

.color-btn {
  width: 100%;
  padding: 0.4rem 1rem;
  height: fit-content;
  background-image: url("./assets/tools/selected.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.crayons,
.brush {
  display: none;
}
